body {
  /* background-color: #b9c5d1; */
  /*background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));*/
  background: linear-gradient(117.9deg, rgb(183, 248, 193) -3.5%, rgb(169, 212, 250) 53.8%, rgb(148, 231, 255) 100.4%);
  /* background-color: #a64357; */
  font-family: Montserrat, arial, verdana;
  display: flex;
  justify-content: center;
}

div.Div_Main {
  width: 100vh;
  min-height: 100vh;
  border-radius: 30px;
  background-color: white;
  border: 1px;
  border-color: #666;
  box-shadow: 3px 3px 5px;
}

p.heading {
  text-align: center;
  text-transform: uppercase;
  /* linear-gradient(to right, #553c9a 45%, #ee4b2b);color: linear-gradient(to right, #553c9a 45%, #ee4b2b); */
  /*text-decoration-color: linear-gradient(to right, #553c9a 45%, #ee4b2b);*/
  font-size: 20px;
  font-weight: bold;
}

div.Div_heading {
  /* display: flex;
  justify-content: center;
  border: 2px;
  box-shadow: 1px 1px 2px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  border-radius: 15px; */
}

div.Primary_Main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.Primary_Main input textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}

div.Primary_Main p {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

div.Primary_Main label {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

div.Primary_Main button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}

div.btnsubmit {
  text-align: center;
}

label.removechild {
  color: blue;
}